<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
  <title>Информация о человеке</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
  <div id="studentInfo">
    <h4 th:text="${student.getName()}"></h4>
    <p th:if="${student.getSurname() != null}" th:text="'Имя: ' + ${student.getSurname()}"></p>
    <p th:if="${student.getName() != null}" th:text="'Имя: ' + ${student.getName()}"></p>
    <p th:if="${student.getPatronymic() != null}" th:text="'Имя: ' + ${student.getPatronymic()}"></p>
    <p th:if="${student.getGroup() != null}" th:text="'Имя: ' + ${student.getGroup()}"></p>
  </div>

  <!--edit delete order button group-->
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <form style="margin-right: 30px" method="get" action="/editPerson">
        <input type="hidden" name="studentId" th:value="${student.getId()}"/>
        <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о человеке</button>
      </form>
      <form method="post" action="/removePerson">
        <input type="hidden" name="studentId" th:value="${student.getId()}"/>
        <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить человека из базы</button>
      </form>
    </div>
  </div>
  <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>